In [2]:
import pandas as pd
import numpy as np

In [7]:

df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

In [4]:
pd.__version__

'1.4.4'

In [20]:
df.describe()

               RAM      Storage       Screen  Final Price
count  2160.000000  2160.000000  2156.000000  2160.000000
mean     15.413889   596.294444    15.168112  1312.638509
std       9.867815   361.220506     1.203329   911.475417
min       4.000000     0.000000    10.100000   201.050000
25%       8.000000   256.000000    14.000000   661.082500
50%      16.000000   512.000000    15.600000  1031.945000
75%      16.000000  1000.000000    15.600000  1708.970000
max     128.000000  4000.000000    18.000000  7150.470000

In [9]:
df.nunique()

Laptop          2160
Status             2
Brand             27
Model            121
CPU               28
RAM                9
Storage           12
Storage type       2
GPU               44
Screen            29
Touch              2
Final Price     1440
dtype: int64

In [19]:
df[df['Brand']=='Dell'].describe()

df.isnull().sum()

             RAM      Storage     Screen  Final Price
count  84.000000    84.000000  84.000000    84.000000
mean   11.380952   395.142857  14.686905  1153.839881
std     4.583640   175.543846   1.023669   671.795071
min     4.000000   128.000000  13.000000   379.000000
25%     8.000000   256.000000  14.000000   699.000000
50%     8.000000   256.000000  14.500000  1003.000000
75%    16.000000   512.000000  15.600000  1313.810000
max    32.000000  1000.000000  17.000000  3936.000000

In [25]:
df['Screen'].mode()[0]

15.6

In [28]:
df['Screen'].fillna(df['Screen'].mode()[0]).describe()

count    2160.000000
mean       15.168912
std         1.202357
min        10.100000
25%        14.000000
50%        15.600000
75%        15.600000
max        18.000000
Name: Screen, dtype: float64

In [55]:
X=np.array(df[df['Brand']=='Innjoo'][['RAM', 'Storage', 'Screen']])

In [56]:
np.array(X)*np.array(X)

array([[6.40000e+01, 6.55360e+04, 2.43360e+02],
       [6.40000e+01, 2.62144e+05, 2.43360e+02],
       [1.60000e+01, 4.09600e+03, 1.98810e+02],
       [3.60000e+01, 4.09600e+03, 1.98810e+02],
       [3.60000e+01, 1.63840e+04, 1.98810e+02],
       [3.60000e+01, 1.63840e+04, 1.98810e+02]])

In [57]:
XT=np.transpose(X)

In [81]:
prod=XT@X
prod2=np.linalg.inv(prod)

In [82]:
y=[1100, 1300, 800, 900, 1000, 1100]

In [85]:
w=prod2@XT@y

In [87]:
w.sum()

91.2998806299555